canvas {
  margin-right: 3rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.controls .controls__range {
  input {
    box-shadow: none;
    margin-bottom: 0.5rem;
  }
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.controls__btns button:active {
  transform: scale(0.9);
}

.colorBox {
  display: flex;
  margin-top: 1.5rem;
}

.colorBox .color:active {
  transform: scale(1.1);
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.hide {
  display: none;
}

#jsProgress {
  position: relative;
  left: 150;
  top: 630;
  width: 50%;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#jsProgress {
  background: black;
  border-radius: 15px;
}

#jsProgress::-webkit-progress-value {
  background: black;
  border-radius: 15px;
}

#jsProgress::-moz-progress-bar {
  background: lightcolor;
}

#jsProgress::-webkit-progress-bar {
  background: white;
  border-radius: 15px;
}
