html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/styles.css")
        title Guess Mine
    body
        .loginBox
            form#jsLogin
                input(placeholder="Whats your nickname" type="text")
    
        .gameContainer#jsGame
            .chat
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMsg
                    input(placeholder="sendMessage" type="text")

        //- 스크립트. 은 바로 스크립트를 작성할 수 있다.
        //- window.global 변수에 전역변수를 선언
        //- !{event}와 #{event} 차이는 뭐냐?  파싱을 다르게 해주는듯.
        script(src="/socket.io/socket.io.js")
        script.
            window.global = !{event}
            window.socket = io("/")
        script(src="/js/main.js")
        